<div class="main-content">
  <div class="container">
    <div class="col-lg-6 col-md-86 col-sm-8 ml-auto mr-auto">
      <div class="form ng-untouched ng-pristine ng-valid">
        <div class="card card-login">
          <div class="card-body ml-auto mr-auto">
            <p class="card-description text-center">Stwórz nową grę</p>
            <span class="bmd-form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="material-icons">email</i>
                  </span>
                </div>
                  <mat-form-field>
                    <input matInput type="text" placeholder="Nazwa gry" [(ngModel)]="nazwa">
                  </mat-form-field>
              </div>
            </span>   <span class="bmd-form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="material-icons">email</i>
                  </span>
                </div>
                  <mat-form-field>
                    <input matInput type="password" placeholder="Hasło" [(ngModel)]="haslo">
                  </mat-form-field>
              </div>
            </span>

          </div>
          <div class="card-footer justify-content-center">
            <button class="btn btn-info" mat-raised-button (click)="create()">Utwórz</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


