<div class="logo">
  <a [routerLink]="['/login']" class="simple-text">
    <i class="material-icons text-danger">my_location</i>
    eDARTER
  </a>
</div>
<div class="sidebar-wrapper">
  <ul class="nav">
    <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
      <a class="nav-link" [routerLink]="[menuItem.path]">
        <i class="material-icons">{{menuItem.icon}}</i>
        <p>{{menuItem.title}}</p>
      </a>
    </li>
    <li *ngIf="UserService.logged" class="nav-item">
      <a class="nav-link" (click)="logout()">
      <p>Wyloguj</p>
    </a>
    </li>
  </ul>
</div>
